DROP TABLE IF EXISTS `countries`;
CREATE TABLE IF NOT EXISTS `countries` (
	`country_id` INTEGER PRIMARY KEY NOT NULL,
	`english_name` TEXT NOT NULL,
	`arabic_name` TEXT NOT NULL,
	`arabic_name2` TEXT NOT NULL,
	`iso3` TEXT NOT NULL,
	`iso2` TEXT NOT NULL,
	`phone_code` TEXT NOT NULL,
	`capital_english` TEXT NOT NULL,
	`capital_arabic` TEXT NOT NULL,
	`area_in_kilometer_square` TEXT NOT NULL,
	`currency` TEXT NOT NULL,
	`currency_name_en` TEXT NOT NULL,
	`currency_name_ar` TEXT NOT NULL,
	`currency_symbol` TEXT NOT NULL,
	`tld` TEXT NOT NULL,
	`region` TEXT NOT NULL,
	`subregion` TEXT NOT NULL,
	`latitude` TEXT NOT NULL,
	`longitude` TEXT NOT NULL,
	`emoji` TEXT NOT NULL,
	`emojiU` TEXT NOT NULL
);
INSERT INTO `countries`
(`country_id`, `english_name`, `arabic_name`, `arabic_name2`, `iso3`, `iso2`, `phone_code`, `capital_english`, `capital_arabic`, `area_in_kilometer_square`, `currency`, `currency_name_en`, `currency_name_ar`, `currency_symbol`, `tld`, `region`, `subregion`, `latitude`, `longitude`, `emoji`, `emojiU`)
	VALUES
(1, 'Yemen', 'اليَمَن', 'اليَمَن2', 'YEM', 'YE', '967', 'Sanaa', 'صنعاء', '555000', 'YER', 'Yemeni rial', 'ريال يمني', '﷼', '.ye', 'Asia', 'Western Asia', '15.00000000', '48.00000000', '🇾🇪', 'U+1F1FE U+1F1EA');

DROP TABLE IF EXISTS `timezones`;
CREATE TABLE IF NOT EXISTS `timezones` (
	`timezone_id` INTEGER PRIMARY KEY NOT NULL,
	`country_id` INTEGER NOT NULL,
	`zoneName` TEXT NOT NULL,
	`gmtOffset` TEXT NOT NULL,
	`gmtOffsetName` TEXT NOT NULL,
	`abbreviation` TEXT NOT NULL,
	`tzName` TEXT NOT NULL,
	FOREIGN KEY (`country_id`) REFERENCES countries(`country_id`)
);
INSERT INTO `timezones`
(`timezone_id`, `country_id`, `zoneName`, `gmtOffset`, `gmtOffsetName`, `abbreviation`, `tzName`)
	VALUES
(1, 1, 'Asia/Aden', 10800, 'UTC+03:00', 'AST', 'Arabia Standard Time');

DROP TABLE IF EXISTS `translations`;
CREATE TABLE IF NOT EXISTS `translations` (
	`translation_id` INTEGER PRIMARY KEY NOT NULL,
	`country_id` INTEGER NOT NULL,
	`kr` TEXT NOT NULL,
	`br` TEXT NOT NULL,
	`pt` TEXT NOT NULL,
	`nl` TEXT NOT NULL,
	`hr` TEXT NOT NULL,
	`fa` TEXT NOT NULL,
	`de` TEXT NOT NULL,
	`es` TEXT NOT NULL,
	`fr` TEXT NOT NULL,
	`ja` TEXT NOT NULL,
	`it` TEXT NOT NULL,
	`cn` TEXT NOT NULL,
	`tr` TEXT NOT NULL,
	FOREIGN KEY (`country_id`) REFERENCES countries(`country_id`)
);
INSERT INTO `translations`
(`translation_id`, `country_id`, `kr`, `br`, `pt`, `nl`, `hr`, `fa`, `de`, `es`, `fr`, `ja`, `it`, `cn`, `tr`)
	VALUES
(1, 1, '예멘', 'Iêmen', 'Iémen', 'Jemen', 'Jemen', 'یمن', 'Jemen', 'Yemen', 'Yémen', 'イエメン', 'Yemen', '也门', 'Yemen');

DROP TABLE IF EXISTS `governorates`;
CREATE TABLE IF NOT EXISTS `governorates` (
	`governorate_id` INTEGER PRIMARY KEY NOT NULL,
	`country_id` INTEGER NOT NULL,
	`name_en` TEXT NOT NULL,
	`name_ar` TEXT NOT NULL,
	`name_ar_tashkeel` TEXT NOT NULL,
	`phone_numbering_plan` TEXT NOT NULL,
	`capital_name_ar` TEXT NOT NULL,
	`capital_name_en` TEXT NOT NULL,
	`name_ar_normalized` TEXT NOT NULL,
	`name_en_normalized` TEXT NOT NULL,
	FOREIGN KEY (`country_id`) REFERENCES countries(`country_id`)
);

DROP TABLE IF EXISTS `districts`;
CREATE TABLE IF NOT EXISTS `districts` (
	`district_id` INTEGER PRIMARY KEY NOT NULL,
	`governorate_id` INTEGER NOT NULL,
	`name_en` TEXT NOT NULL,
	`name_ar` TEXT NOT NULL,
	`name_ar_tashkeel` TEXT NOT NULL,
	`name_ar_normalized` TEXT NOT NULL,
	`name_en_normalized` TEXT NOT NULL,
	FOREIGN KEY (`governorate_id`) REFERENCES governorates(`governorate_id`)
);

DROP TABLE IF EXISTS `uzaal`;
CREATE TABLE IF NOT EXISTS `uzaal` (
	`uzaal_id` INTEGER PRIMARY KEY NOT NULL,
	`district_id` INTEGER NOT NULL,
	`name_en` TEXT NOT NULL,
	`name_ar` TEXT NOT NULL,
	`name_ar_normalized` TEXT NOT NULL,
	`name_en_normalized` TEXT NOT NULL,
	FOREIGN KEY (`district_id`) REFERENCES districts(`district_id`)
);

